@charset "UTF-8";

@media screen and (min-width:768px) {
    

    header nav{
        text-align: left;
    }
    
    header nav{
        display: block
    }


    nav ul li{
        display: inline-block;
        margin: 0px ;
        border-top: solid 2px gray;
    }

    nav ul li a{
        margin: 0px;
    }

    main{
        margin: auto;
        margin-top: 10px;
        max-width: 768px;
    }
    
    


    #menu{
        display: none;
    }
}